---
secrets:
  - {{ meshmage_secret }}

database:
  meshmage: postgresql://{{ postgresql_user }}:{{ postgresql_password }}@{{ postgresql_host }}/meshmage
  minion: postgresql://{{ postgresql_user }}:{{ postgresql_password }}@{{ postgresql_host }}/minion

nebula:
  store: /home/meshmage/MeshMage/.nebula
  use: linux/amd64

ansible:
  rundir: /home/meshmage/MeshMage/Ansible

filestore:
  prefix: /home/meshmage/MeshMage/data
  sshkey: sshkeys
  nebula: nebula
