<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd" >
<plist version='1.0'>
    <dict>
        <key>Label</key>
        <string>Nebula</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/nebula</string>
            <string>-config</string>
            <string>/etc/nebula/config.yml</string>
        </array>
        <key>SessionCreate</key><false/>
        <key>KeepAlive</key><true/>
        <key>RunAtLoad</key><false/>
        <key>Disabled</key><false/>
    </dict>
</plist>
